{% extends 'base.html' %}
{% block title %}Create A New Post!{% endblock %}
{% block content %}

<h3>Add Post</h3>

{% if user.is_authenticated %}
	<div class="form-group">
		<form method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			{{ form.media }}
			<button class="btn btn-secondary">Post</button>
			<br/>
		</form>
	</div>	
	
	<script>
		var name = "{{ user.id}}";
		document.getElementById("iRivaldo").placeholder = name;
	</script>	

{% else %}
You're not allowed here!
{% endif %}
{% endblock %}