{% extends 'base.html' %}
{% block content %}
<h3>Post</h3>

<ul>
{% for post in object_list %}
	<li>
		<a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>
		{{ post.author }} -
		<a href="{% url 'category' post.category|slugify %}">{{ post.category}}</a>
		  - {{ post.post_date }} -
	{% if user.is_authenticated %}
		{% if user.id == post.author.id %}	
			<a href="{% url 'update_post' post.pk %}">(Edit)</a>
			<a href="{% url 'delete_post' post.pk %}">(Delete)</a>
			<br>
			{{ post.body|slice:":200"|safe}}</li>
			{% endif %}
	{% endif%}

{% endfor %}
</ul>
{% endblock %}